* {
    box-sizing: border-box;
}

button {
    font-weight: bold;

    margin: 0;
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    /* border-radius: 0.80em;*/
    background: #729fcf;
    color: #fff;
    /* box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.10);*/
}

button::-moz-focus-inner {
    border:  0;
    padding: 0;
}

button:disabled {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.40) !important;
    box-shadow: none !important;
    opacity: 0.70;
}

button:focus,
button:active {
    outline: none;
}

html {
    font-family: sans-serif;
    background: #eee;
    color: #222;

    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    margin: 0;
}

textarea,
.line {
    font-family: Consolas, monospace;
    font-size: 14px;
}

#the-code {
    height: 20em;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
}

.line {
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 6px 12px;
}

.line:first-child {
    border: 0;
}

#screen {
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    width: 100%;
    display: block;
}

#the-code,
#screen,
#stdout {
    border-radius: 2px;
}

#stdout {
    background: #fff;
    min-height: 60px;
    border: 1px solid #ccc;

    overflow-y: auto;
}

#dev-area,
#display-area {
    position: relative;
}

#program-toolbar {
    margin-bottom: 10px;
}

#program-toolbar button {
    /* border-radius: 50%;*/
    /* border-radius: 0.50em;*/
    border-radius: 1em;
    /* border-radius: 2px;*/
    /* border-radius: 4px;*/
    margin-right: 10px;

    width:  4.50em;
    /* width:  2.50em;*/
    height: 2.75em;
    /* height: 2.50em;*/

    font-size:   16px;
    line-height: 16px;

    transition:
        box-shadow 0.15s,
        background 0.15s;

    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.05);

    /* text-shadow: 0 0px 3px black;*/

    position: relative;
    z-index: 100;
}

#program-toolbar button:hover {
    box-shadow: 0 0 0 5px rgba(128, 192, 224, 0.50);
    cursor: pointer;
}

#program-start { background-color: #4e9a06; }
#program-stop  { background-color: #cc0000; }
/* #program-step  { background-color: #edd400; }*/
