* {
    box-sizing: border-box;
}

button {
    margin-bottom: 10px;
}

button {
    height: 2.75em;
    font-weight: bold;
    font-size: 18px;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.10);
    border-bottom-color: rgba(0, 0, 0, 0.20);
    border-radius: 0.2em;
    background: #729fcf;
    color: #fff;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}

button:hover {
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.10);
}

button:disabled {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.40) !important;
    box-shadow: none !important;
    opacity: 0.70;
}

button:focus,
button:active {
    outline: none;
}

html {
    font-family: sans-serif;
    background: #eee;
    color: #222;

    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    margin: 0;
}

textarea,
.line {
    font-family: Consolas, monospace;
    font-size: 14px;
}

#the-code {
    height: 20em;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
}

.line {
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 6px 12px;
}

#screen {
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    width: 100%;
    display: block;
}

#stdout {
    background: #fff;
    min-height: 60px;
    height: 400px;
    border: 1px solid #ccc;

    overflow-y: auto;
}

#dev-area,
#display-area {
    position: relative;
}

#program-toolbar button {
    min-width: 10em;
}

#program-start { background-color: #4e9a06; }
#program-stop  { background-color: #cc0000; }
