* {
    box-sizing: border-box;
}

button {
    font-weight: bold;

    margin: 0;
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-top-color: rgba(0, 0, 0, 0.05);
    border-bottom-color: rgba(0, 0, 0, 0.20);
    /* border-radius: 0.80em;*/
    background: #729fcf;
    color: #fff;
    /* box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.10);*/
}

button::-moz-focus-inner {
    border:  0;
    padding: 0;
}

button:disabled {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.40) !important;
    box-shadow: none !important;
    opacity: 0.70;
}

button:focus,
button:active {
    outline: none;
}

html {
    font-family: sans-serif;
    background: #eee;
    color: #222;

    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    margin: 0;
}

textarea,
.line {
    font-family: Consolas, monospace;
    font-size: 14px;
}

#the-code {
    height: 20em;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
}

.line {
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 6px 12px;
}

.line:first-child {
    border: 0;
}

#screen {
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    width: 100%;
    display: block;
}

#the-code,
#screen,
#stdout {
    border-radius: 2px;
}

#stdout {
    background: #fff;
    min-height: 60px;
    border: 1px solid #ccc;

    overflow-y: auto;
}

#dev-area,
#display-area {
    position: relative;
}

#program-toolbar button {
    border-radius: 50%;

    margin-bottom: 10px;
    margin-right: 0.5em;

    transition: background 0.15s;

    height: 2.75em;
    width:  2.75em;

    font-size:   16px;
    line-height: 16px;
}

#program-start { background-color: #4e9a06; }
#program-stop  { background-color: #cc0000; }
